.checkbox__container {
  position: relative;
  width: 50px;
}
._checkbox {
  display: none;
}

label {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #f72414;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: 0 7px 10px #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color,
    0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(0, 0, 0, 0.44);
}

label:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 7px 10px #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
  border: 1px solid black;
}

label:hover:before {
  width: 55px;
  height: 55px;
  box-shadow: inset 0 7px 10px #ff9d96;
}

label:active {
  transform: translateY(-50%) scale(0.9);
}

.tick_mark {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  width: 26px;
  height: 20px;
  margin: 0 auto;
  margin-left: 5px;
  transform: rotateZ(-50deg);
}

.tick_mark:before,
.tick_mark:after {
  content: '';
  position: absolute;
  background-color: #fff;
  border-radius: 2px;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.tick_mark:before {
  left: 0;
  bottom: 0;
  width: 5px;
  height: 17px;
  box-shadow: -2px 0 5px rgb(0 0 0 / 23%);
  transform: translateY(-15px);
}

.tick_mark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 23%);
  transform: translateX(78px);
}

._checkbox:checked + label {
  background-color: #07d410;
  box-shadow: 0 7px 10px #92ff97;
}

._checkbox:checked + label:before {
  width: 0;
  height: 0;
}

._checkbox:checked + label .tick_mark:before,
._checkbox:checked + label .tick_mark:after {
  transform: translate(0);
  opacity: 1;
}
