/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#add{
  width: 100px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: rgb(138, 127, 255);
  color: whitesmoke;
  align-self: start;
}
#toggleDarkModeBtn {
  margin-left: 30px;
  padding: 7px;

  width: 120px;
  font-size: 1.1rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(23, 26, 57);
  background-color: rgb(168, 160, 242);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

#logo {
  letter-spacing: 2px;
}

#container {
  padding: 50px;
}
#notebox {
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}
#notebox input {
  width: 50%;
  padding: 10px;
  border: 5px solid lavender;
  border-radius: 15px;
  outline: none;
  text-align: center;
  margin: 10px;
}

#add,
#delete {
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  border: none;
}
#edit {
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  border: none;
}
#add:hover,
#delete:hover {
  background: rgb(1, 0, 6);
  color: white;
  transition: 0.5s;
}
.buttons {
  text-align: center;
}

#box {
  display: inline-block;
  background: lavender;
  height: auto;
  width: auto;
  text-align: center;
  margin: 5px;

  border-radius: 15px;
}
#box p,
h5 {
  margin: 10px;
}

#mainbox {
  padding: 45px;
  display: block;
  text-align: center;
}

/* Responsive Code */

@media (max-width: 1424px) {
  body {
    background-color: rgb(142, 137, 199);
  }

  #delete {
    background-color: rgb(62, 39, 193);
    color: rgb(255, 249, 249);
  }

  #container {
    padding: 20px;
  }
  #box {
    margin: 10px;
  }
}
.light-mode {
  background-color: #E0FFFF;
}
.light-mode span.boxtext {
  color: black;
}

.dark-mode {
  background-color: rgb(0, 37, 63);
}
.dark-mode span.boxtext {
  color: white;
}

