/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(138, 127, 255);
}

::-webkit-scrollbar-thumb{
  background: #4001a5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #210057;
}

#navbar {
  position: sticky;
  top: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 15;
}
#toggleDarkModeBtn {
  margin-left: 30px;
  padding: 7px;

  width: 120px;
  font-size: 1.1rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(23, 26, 57);
  background-color: rgb(168, 160, 242);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
#add{
  width: 100px;
}
#logo {
  letter-spacing: 2px;
}


#searchnote{
  margin: -15px;
  padding: 20px;
  outline: none;
  margin-left: 600px;
  
}
#searching{
  border: 2px solid lavender;
  outline: none;
  border-radius: 12px;
  padding: 6px;
}
#searching:focus{
  box-shadow: 0 0 4px #7e6ce4, 0 0 8px #7e6ce4, 0 0 12px #7e6ce4;
}
#searching:hover{
  border: 2px solid rgb(96, 86, 203);
  transition: all 0.25s ease;
}

#a-link {
  text-decoration: none;
}


#container {
  padding: 50px;
}

#notebox {
  position: sticky;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}
#notetitle {
  position: sticky;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
}
#notetit {
  position: sticky;
  border: 2px solid lavender;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
#notetit:focus{
  box-shadow: 0 0 4px #7e6ce4, 0 0 8px #7e6ce4, 0 0 12px #7e6ce4;
}

#notetit:hover{
  border: 2px solid rgb(96, 86, 203);
  transition: all 0.25s ease;
}

#notebox input {
  width: 50%;
  padding: 10px;
  border: 2px solid lavender;
  border-radius: 15px;
  outline: none;
  text-align: center;
  margin: 10px;
}

#note:hover{
  border: 2px solid rgb(96, 86, 203);
  transition: all 0.25s ease;
}

#add,
#delete {
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  /* border: none; */
  border: 1px solid rgb(255, 249, 249);
}
.edit {
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  /* border: none; */
  border: 1px solid rgb(255, 249, 249);
}

#add:hover,
.edit:hover,
#delete:hover {
  background: #2196f3;
  color: white;
  box-shadow: 0 0 4px #2196f3, 0 0 8px #2196f3, 0 0 12px #2196f3;
  transition: 0.5s;
  transform: scale(1.05);
}

.buttons {
  text-align: center;
}
#note:focus{
  box-shadow: 0 0 4px #7e6ce4, 0 0 8px #7e6ce4, 0 0 12px #7e6ce4;
}
.box {
  display: inline-block;
  /* background: lavender; */
  height: auto;
  width: auto;
  text-align: center;
  margin: 5px;
  box-shadow: 0 0 4px #7e6ce4, 0 0 8px #7e6ce4, 0 0 12px #7e6ce4;
  border-radius: 15px;
}

.box p,
h5 {
  margin: 10px;

}

#mainbox {
  padding: 45px;
  display: block;
  text-align: center;
}

/* Responsive Code */

@media (max-width: 1424px) {
  body {
    background-color: rgb(142, 137, 199);
  }

  #delete {
    background-color: #2195f3ea;
    color: rgb(255, 249, 249);
  }

  #container {
    padding: 20px;
  }
  .box {
    margin: 10px;
  }
}

@media (max-width: 520px) {
  #navbar {
    align-items: center;
  }
  .light-mode header nav div h1 {
    font-size: 21px;
  }
  .light-mode-button span:nth-child(1) {
    width: 60px !important;
    height: 25px !important;
    top: 8px !important;
  }
  .light-mode-button span:nth-child(2) {
    width: 16px !important;
    height: 14px !important;
    top: 13px !important;
  }
  .light-mode-button {
    width: 50px !important;
  }
  body[light-mode="dark"] .light-mode-button span:nth-child(2) {
    left: 40px !important;
  }
}


.noInputText {
  visibility: hidden;
  color: #ea4b8b;
  text-align: center;
  border-radius: 6px;
  padding: 7px 5px;
  margin: auto ;
  font-size: large;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 2;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:2 ;}
}

.light-mode {
  background-color: #E6E6FA;
}
.light-mode header nav div h1{
  color: #a35ae8;
  font-weight:900;
}
.light-mode .welcome-message  h2{
  color: #a35ae8;
  font-weight:900;
  display: sticky;
}
.note-edit-heading{
  color: #a35ae8;
  font-weight:900;
}


.light-mode span.boxtext {
  color: black;
}
.dark-mode .welcome-message  h2{
  color: #eedcff;
  font-weight:900;
}

.dark-mode {
  background-color: rgb(0, 37, 63);
}
.dark-mode span.boxtext {
  color: white;
}

.welcome-message{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

}
.welcome-message h2{
  font-size: x-large;
  font-weight: 600;
}

/* Light Mode Button Styles
        --------------------------- */ 
        .light-mode-button {
          background:0;
          border: 0;
          box-sizing: border-box;
          cursor: pointer;
          height: 40px;
          width: 100px;
          position: relative;
          border: 1px solid rgba(255,255,255,0);
      }
      .light-mode-button:focus {
          outline:none; /* Not ideal for accessibility */
      }
      .light-mode-button span:nth-child(1) {
          position: absolute;
          top:0;
          left:0;
          width: 100px;
          height:40px;
          border-radius: 20px;
          background-color: #d6d7db;
          box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
          transition: .3s;
      }
      .light-mode-button span:nth-child(2) {
          position: absolute;
          top:5px;
          left:5px;
          width: 30px;
          height: 30px;
          background-color: #fff;
          border-radius: 50%;
          box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
          transition: .3s;
      }
  
/* Light & Dark Mode Styles
--------------------------- */ 
/* body {
background-color: #f6f6f6;
transition: background-color .3s;
} */
body[light-mode=dark] {
background-color: #140026;
color: #ced4e2;
}
body[light-mode="dark"] .light-mode-button span:nth-child(1){
background-color: #ced4e2;
color: #141516;
}
body[light-mode=dark] .light-mode-button span:nth-child(2) {
left: 65px;
background-color: #141516;
}

.msg {
  position: fixed;
  z-index: 56;
  width: fit-content;
  height: fit-content;
  top: 5%;
  right: 2%;
  padding: 10px 20px;
  display: none;
  border-radius: 5px;
  font-size: 18px;
  background: #ec4811;
  color: white;
  box-shadow: 0 10px 15px -3px rgb(149 149 162), 0 4px 6px -2px rgb(0 0 0 / 5%);
  transition: transform ease-in-out .2s;
}
.show.msg {
display: block;
animation: fadeInAnimation ease 0.2s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
  margin-top: -10%;
}
100% {
margin-top: 3%;
}
}
