/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: rgb(138, 127, 255);
}

::-webkit-scrollbar-thumb{
  background: #4001a5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #210057;
}

#navbar {
  position: sticky;
  top: 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 15;
}
#toggleDarkModeBtn {
  margin-left: 30px;
  padding: 7px;

  width: 120px;
  font-size: 1.1rem;
  font-family: "Varela Round", sans-serif;
  color: rgb(23, 26, 57);
  background-color: rgb(168, 160, 242);
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}
#add{
  width: 100px;
}
#logo {
  letter-spacing: 2px;
}

#container {
  padding: 50px;
}

#notebox {
  position: sticky;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

#notebox input {
  width: 50%;
  padding: 10px;
  border: 5px solid lavender;
  border-radius: 15px;
  outline: none;
  text-align: center;
  margin: 10px;
}

#note:hover{
  border: 5px solid rgb(96, 86, 203);
}

#add,
#delete {
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  border: none;
}
#edit {
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  border: none;
}

#add:hover,
#edit:hover,
#delete:hover {
  background: #2196f3;
  color: white;
  box-shadow: 0 0 4px #2196f3, 0 0 8px #2196f3, 0 0 12px #2196f3;
  transition: 0.5s;
  transform: scale(1.05);
}

.buttons {
  text-align: center;
}

#box {
  display: inline-block;
  background: lavender;
  height: auto;
  width: auto;
  text-align: center;
  margin: 5px;
  box-shadow: 0 0 4px #8f84c9, 0 0 8px #7e6ce4, 0 0 12px #7e6ce4;
  box-shadow: 0 0 4px #7e6ce4, 0 0 8px #7e6ce4, 0 0 12px #7e6ce4;
  border-radius: 15px;
}

#box p,
h5 {
  margin: 10px;

}

#mainbox {
  padding: 45px;
  display: block;
  text-align: center;
}

/* Responsive Code */

@media (max-width: 1424px) {
  body {
    background-color: rgb(142, 137, 199);
  }

  #delete {
    background-color: #2195f3ea;
    color: rgb(255, 249, 249);
  }

  #container {
    padding: 20px;
  }
  #box {
    margin: 10px;
  }
}

.noInputText {
  visibility: hidden;
  color: #ea4b8b;
  text-align: center;
  border-radius: 6px;
  padding: 7px 5px;
  margin: auto ;
  font-size: large;
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 2;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:2 ;}
}


#text{
    color: #DDA0DD;
    font-size: 2rem;
}



:root{
    --bs-dark: rgb(216,191,216, 0.5);
  }

  .theme-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  
  .theme-container:hover {
    opacity: 0.8;
  }
  
  .shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 7px 7px 33px #1a1d20,
    -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}

.shadow-light {
      background: linear-gradient(145deg, #f0f4f6, #b8bdc7);
      box-shadow: 7px 7px 33px #ffffff8f,       
      -7px -7px 33px #f0f4f6, inset 5px 5px 4px #b8bdc7,
      inset -5px -5px 4px rgba(255, 255, 255, 0.3);
  
  }
  
  @keyframes change {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1.4);
    }
  }
  
  .change {
    animation-name: change;
    animation-duration: 1s;
    animation-direction: alternate;
  }



.light-mode {
    background-color: #E6E6FA;
  }
  .light-mode header nav div h1{
    color: #3a016f;
    font-weight:900;
  }
  .light-mode span.boxtext {
    color: black;
  }
  
  .dark-mode {
    background-color: rgb(0, 37, 63);
  }
  .dark-mode span.boxtext {
    color: white;
  }
.light-mode {
  background-color: #E6E6FA;
}
.light-mode header nav div h1{
  color: #3a016f;
  font-weight:900;
}
.light-mode span.boxtext {
  color: black;
}

.dark-mode {
  background-color: rgb(0, 37, 63);
}
.dark-mode span.boxtext {
  color: white;
}
